@value red-color from '../../vars.module.css';

.container {
  /* outline: 1px solid #212121; */
}

.name {
  font-weight: 500;
}

/* Базовый */
.quantity {
  font-weight: 500;
}

/* Композиция */
.available {
  composes: quantity;
  color: green;
}

.notAvailable {
  composes: quantity;
  color: red-color;
}
