html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
